<% nuevo = singular_table_name.split('_').first =~ /[ad]$/ ? 'Nueva' : 'Nuevo' -%>
<h1><%= nuevo  %> <%= human_name %></h1>

<%%= render 'form' %>

<%%= link_to 'Listado', <%= index_helper %>_path %>
